.git
.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.log
coverage/
*.tmp
*.bak
*.swp
Thumbs.db
*.class
*.jar
*.war
*.iml
out/

# data/
data/classification/
data/dataset/
data/detection/
webapp/uploads/
webapp/static/outputs/
testing/

# *.pth
venv/
*.egg-info/
