.git
.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.log
coverage/
*.tmp
*.bak
*.swp
Thumbs.db
*.class
*.jar
*.war
*.iml
out/

# data/
data/classification/test/fake
data/classification/test/real
data/classification/train/fake
data/classification/train/real
data/classification/val/fake
data/classification/val/real
data/detection/images/test
data/detection/images/train
data/detection/images/val
data/detection/labels/test
data/detection/labels/train
data/detection/labels/val

*.pth
venv/
*.egg-info/