python -m venv venv
source venv/bin/activate 

pip install torch torchvision opencv-python matplotlib scikit-learn
pip install flask pillow
pip install facenet-pytorch
pip install seaborn
pip install opencv-python
# datasets
https://www.kaggle.com/datasets/xhlulu/140k-real-and-fake-faces?resource=download-directory&select=real_vs_fake
data/dataset/
├── train/
│   ├── 0/
│   └── 1/
├── validate/
│   ├── 0/
│   └── 1/
└── test/
    ├── 0/
    └── 1/

# 70% training, 15% validation, 15% testing split


# Ensure the directory structure matches the above format
PYTHONPATH=. python3 training/train_classifier.py

# Evaluate the trained model
PYTHONPATH=. python3 evaluation/eval_classifier.py
